
   .body {
    background-image: url("../static/Texture6a.jpg"); 
    background-repeat: repeat;
  }
   div.main_container{
    border-width:1px;
    border-style:solid;
    border-color:#DEDEDE;
    background-color: #ffffff;
    width: 1028px;
    height: 550px;
    margin:5px auto 0 auto;
   }

    div.group1{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
   }
   div.canvas{
    height: 500px;
    width: 960px;
   }
   div.main_logo{
    width: 22%;
    margin:0 auto 0 auto;
    height: 160px;
   }

   #content {
    width:1028px;
    margin:5px auto 0 auto;
   }

   #sub-content {
    margin:1px;
    padding:1px;
    overflow:hidden;
   }

   #column1 {
    width:320px;
    height: 300px;
    background:#BEE740;
    margin:0 7px 0 0;
    padding:8px;
    float:left;
    font-family: Arial;
    font-size: 14px;
   }

   #column2 {
    width:320px;
    height: 300px;
    background:#BEE740; 
    margin:0 7px 0 0;
    padding:8px;
    float:left;
    font-family: Arial;
    font-size: 14px;
  }
   #column3 {
    width:320px;
    height: 300px;
    background:#BEE740;
    margin:0;
    padding:8px;
    float:left;
    font-family: Arial;
    font-size: 14px;
}

.submit_link {
float: right;
margin-right: 3%;
padding: 0px 0;
}

input[type=submit].alt_btn:hover {
color: #001217;
}

input[type=submit].alt_btn_5 {
  background:url(/static/get5.PNG) no-repeat;
  cursor:pointer;
  width: 157px;
  height: 54px;
  border: none;
}

input[type=submit].alt_btn_10 {
  background:url(/static/get10.PNG) no-repeat;
  cursor:pointer;
  width: 157px;
  height: 54px;
  border: none;
}

input[type=submit].alt_btn_25 {
  background:url(/static/get25.PNG) no-repeat;
  cursor:pointer;
  width: 157px;
  height: 54px;
  border: none;
}

input[type=submit].alt_btn_50 {
  background:url(/static/get50.PNG) no-repeat;
  cursor:pointer;
  width: 157px;
  height: 54px;
  border: none;
}